<% for(var i = 0; i < items.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= items[i].name %></td>
    <td><%= items[i].price %></td>
    <td><%= items[i].description %></td>
    <td><%= items[i].quantity %></td>
    <td>
        <a href="/update-item?id=<%= items[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= items[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>